<li class="nav-item"></li>
    <a class="nav-link" href="/hostel/<%= Hostel_ID %>">Hostel Details</a>
  </li> <li class="nav-item">
    <a class="nav-link" href="/student/<%= Hostel_ID %>">Student Details</a>
  </li> <li class="nav-item">
    <a class="nav-link" href="/allocate/<%= Hostel_ID %>">Allocate Student</a>
  </li> <li class="nav-item">
    <a class="nav-link" href="/visitor/<%= Hostel_ID %>">Visitor Details</a>
  </li> <li class="nav-item">
    <a class="nav-link" href="/room/<%= Hostel_ID %>">Room List</a>
  </li> <li class="nav-item">
    <a class="nav-link" href="/outing/<%= Hostel_ID %>">Outing Details</a>
  </li> <li class="nav-item">
    <a class="nav-link" href="/feedback/<%= Hostel_ID %> ">Feedbacks</a>
