<div class="container" style="margin-top: 50px;">

    <div class="card"> 
        <div class="card-header">
            <ul class="nav nav-pills w-100">
                <li class="nav-pill active">
                    <a class="nav-link">Visitor Details</a>
                </li>
                <li class="nav-pill ml-auto">
                    <a class="nav-link active" href="/visitor/add/<%= data1 %> /1">Add Visitor</a>
                </li>
            </ul>
        </div>
    <div class="card-body">
        
        <% if(data.length) { %>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#Visitor_ID</th>
                    <th scope="col">Visitor_Name</th>
                    <th scope="col">In_Time</th>
                    <th scope="col">Out_Time</th>
                    <th scope="col">Date</th>
                    <th scope="col">Student_ID</th>
                    <th width="200px"></th>
                </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i< data.length; i++) { %>
                <tr>
                    <td><%= data[i].Visitor_ID %></td>
                    <td><%= data[i].Visitor_Name%></td>
                    <td><%= data[i].In_Time%></td>
                    <td><%=data[i].Out_Time%></td>
                    <td><%= data[i].Date%></td>
                    <td><%=data[i].Student_ID%></td>
                    <td>
                        <a class="btn btn-success edit" href="/visitor/edit/<%= data1 %> /<%=data[i].Visitor_ID%>/<%= data[i].Student_ID %> ">Edit</a>                       
                        <a class="btn btn-danger delete" onclick="return alert('Are You sure?')" href="/visitor/delete/<%= data1 %> /<%=data[i].Visitor_ID%>/<%= data[i].Student_ID %> ">Delete</a>                       
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
        <% } %>
        
        <!-- if result is empty -->
        <% if(!data.length) { %>
            <p class="text-center">No Visitor found!</p>
        <% } %>

        </div>
    </div>
</div>